[Unit]
Description=Service for led
After=network.target

[Service]
User=root
WorkingDirectory=/home/pi/core_boxes_service/gpio
ExecStart=/usr/bin/sudo /usr/local/bin/gunicorn --bind 0.0.0.0:3000 --chdir /home/pi/core_boxes_service/gpio/ run:app
Restart=always

[Install]
WantedBy=multi-user.target
