[Unit]
Description=Service for slot
After=network.target

[Service]
User=root
WorkingDirectory=/home/pi/core_boxes_service/slot_helper
ExecStart=/usr/bin/sudo /usr/local/bin/gunicorn --bind 0.0.0.0:2000 --chdir /home/pi/core_boxes_service/slot_helper/ run:app
Restart=always

[Install]
WantedBy=multi-user.target
