[Unit]
Description=Service for card scanner
After=network.target

[Service]
User=root
WorkingDirectory=/home/pi/core_boxes_service/card_scanner
ExecStart=python3 /home/pi/core_boxes_service/card_scanner/main.py
Restart=always

[Install]
WantedBy=multi-user.target
