[Unit]
Description=Service for button
After=network.target

[Service]
User=root
WorkingDirectory=/home/pi/core_boxes_service/button
ExecStart=python3 /home/pi/core_boxes_service/button/main.py
Restart=always

[Install]
WantedBy=multi-user.target
